# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\小学期Ⅲ\企业级应用开发实践课资料\企业级应用开发实践课资料\老师讲解好的代码\shopcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
